@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

ul {
  width: 800px;
  display: flex;
  flex-direction: row;
}

ul li {
  list-style-type: none;
}

li {
  width: 250px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 30px;
  background-color: #ccc;
}

a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: blue;
  font-style: italic;
  cursor: pointer;
}

#home {
  background-color: red;
}