@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

p {
    height: 36px;
    width: 900px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    width: 260px;
    height: 260px;
    border: 1px solid red;
    line-height: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 1px;
}