@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

ol li {
    list-style-type: none;
}

p {
    width: 600px;
    text-align: center;
}

a {
    text-decoration: none;
}

ol {
    width: 600px;
    height: 200px;
}

li {
    text-align: center;
}

a:hover {
    display: block;
    background-color: red;
    color: white;
}
